/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease-in-out;
  list-style-type: none;
  text-decoration: none;
  /* border: 1px solid red; */
}

:root {
  --mp-main: 30px;
  --mp-secondary: 15px;
  --mp-third: 7.5px;
  --primary-color: #fcda69;
  --secondary-color: #4c40f7;
  --secondary-color-hover: #3526ff;
  --border-color: #d9d9d9;
  --round-btn-color: #f6f6f6;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 600;
  font-size: 4rem;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

p {
  font-weight: 400;
  opacity: 0.7;
  font-size: 1.2rem;
}

.button {
  padding: var(--mp-secondary) var(--mp-main);
  border-radius: var(--mp-secondary);
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

button span {
  width: 20px;
  margin-left: var(--mp-third) !important;
}

.home button img {
  margin-left: var(--mp-secondary);
}

.btnLoading {
  background-color: var(--round-btn-color) !important;
  color: black !important;
  cursor: not-allowed;
}

.button:hover {
  transform: translateY(-2px);
}

.buttonPrimary {
  background-color: var(--secondary-color);
  color: #fff;
  border: 1px solid transparent;
}


.buttonRoundPrimary {
  padding: 15px;
  border: 1px solid transparent;
  color: white;
  border-radius: 50% !important;
  background-color: var(--secondary-color);
}

.buttonRoundPrimary span {
  margin: 0px !important;
}

.buttonRoundSecondary {
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 50% !important;
  background-color: var(--round-btn-color);
}

.buttonPrimary:hover,
.buttonRoundPrimary:hover {
  background-color: var(--secondary-color-hover);
}

.buttonPrimary:active,
.buttonRoundPrimary:active {
  background-color: var(--secondary-color);
}


.boxShadow {
  -webkit-box-shadow: 0px 0px 36px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px -18px rgba(0, 0, 0, 0.75);
}

.boxShadow:hover {
  -webkit-box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 0.75);
}

.inputBox {
  width: 100%;
  padding: var(--mp-secondary);
  font-size: 1rem;
  border: none;
  border: 2px solid transparent;
  border-radius: var(--mp-third);
  background-color: var(--round-btn-color);
  resize: none;
}

.inputBox:hover,
.inputBox:active {
  border: 2px solid var(--secondary-color);
}

.subHeading {
  position: relative;
  padding-left: 48px;
  color: var(--secondary-color);
}

.subHeading::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 40px;
  height: 2px;
  background: var(--secondary-color);
}

/* ------------------- Scrollbar -------------- */
::-webkit-scrollbar {
  width: var(--mp-third);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: var(--mp-main);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ------------------- Modal -------------- */

.modalBg {
  background-color: rgba(0, 0, 0, 0.176);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mp-main);
}

.modal {
  border: 1px solid var(--border-color);
  background-color: #fff;
  border-radius: var(--mp-secondary);
  width: 100%;
  max-width: 1500px;
  height: 100%;
  max-height: 800px;
  padding: var(--mp-main);
}

.modalTopDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modalTopDiv img {
  width: 40px;
  border-radius: var(--mp-third);
  cursor: pointer;
}

.modalTopDiv img:hover {
  background-color: var(--round-btn-color);
}

.modalBody {
  overflow: scroll;
  margin-top: var(--mp-secondary);
  height: 90%;
}

.modalBody::-webkit-scrollbar {
  display: none;
}


/* ------------------- Main Section -------------- */
.mainDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oddSectionColor {
  background-color: var(--primary-color);
}

.mainDivChild {
  width: 100%;
  max-width: 2000px;
  padding: 0px 150px;
}

/* ------------------- Home ---------------- */

.home {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mp-main);
}

.homeSubDiv1,
.homeSubDiv2 {
  width: 50%;
}

.homeSubDiv2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeSubDiv1MainSection {
  width: 100%;
  max-width: 500px;
}

.homeSubDiv1MainSection * {
  margin: var(--mp-third) 0px;
}

.homeSubDiv1MainSection button {
  margin-top: var(--mp-main);
}

.heroImg {
  width: 100%;
  border-radius: var(--mp-secondary);
}

/* ------------------- Services ---------------- */

.services {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mp-main);
  padding: 60px 0px;
}

.servicesSub1,
.servicesSub2 {
  overflow: hidden;
  width: 50%;
}

.servicesSub1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.servicesSub1 img {
  width: 100%;
  max-width: 500px;
  margin-top: var(--mp-main);
}

.servicesSub1Main {
  width: 100%;
  max-width: 500px;
}

.servicesCard {
  margin-top: var(--mp-main);
  border-top: 2px solid black;
}

.servicesCard h1 {
  margin-top: var(--mp-secondary);
}

.servicesCardFooter {
  display: flex;
  margin-top: var(--mp-secondary);
  align-items: center;
  justify-content: space-between;
}

.servicesCardFooter h2 {
  color: var(--secondary-color);
}

/* ------------------- Experience ---------------- */

.experience {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mp-main);
  padding: 60px 0px;
}

.experienceSub2,
.experienceSub1 {
  width: 50%;
}

.experienceSub2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.experienceSub2 img {
  margin-top: var(--mp-main);
  width: 100%;
  max-width: 500px;
  border-radius: var(--mp-secondary);
}

.experienceSub2Main {
  width: 100%;
  max-width: 500px;
}

.experienceSub1 {
  display: flex;
  flex-direction: column;
  gap: var(--mp-main);
}

.experienceCard {
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--mp-secondary);
  overflow-x: hidden;
}

.experienceCard button img {
  margin: 0;
  padding: 0;
}

.experienceCard button {
  padding: 15px;
}

.experienceCardTopLeft {
  flex: 1;
  margin-right: var(--mp-secondary);
}

.experienceCardTopRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experienceModal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: var(--mp-main);
}

.experienceModalSub1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.experienceModalSub1Main {
  margin-top: var(--mp-main);
}

.experienceLogo {
  width: 100%;
  max-width: 250px;
}

.experienceModalSub2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.experienceTasks {
  margin-top: var(--mp-main);
}

.experienceTasks h2 {
  list-style-type: disc !important;
  margin-top: var(--mp-secondary);
}

/* ------------------- Skills ---------------- */

.skills {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: var(--mp-main);
  padding: 60px 0px;
}

.skillsSubDiv1 {
  text-align: start;
}
.skillsSubDiv2 {
  text-align: center;
}

.skillsSubDiv2 {
  margin-top: var(--mp-main);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--mp-main);
}

.skillsCard {
  width: 135px;
  height: 180px;
  margin: var(--mp-third);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.skillsCard img {
  width: 100%;
}

.skillsCard h2 {
  margin-top: var(--mp-third);
}

/* ------------------- Project ---------------- */

.project {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mp-main);
  padding: 60px 0px;
}

.projectSub1,
.projectSub2 {
  width: 50%;
}

.projectSub1Main {
  width: 100%;
  max-width: 500px;
}

.projectSub1 img {
  margin-top: var(--mp-main);
  width: 100%;
  max-width: 500px;
}

.projectsTopDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projectsTopDiv p {
  margin-right: var(--mp-main);
  cursor: pointer;
  padding: var(--mp-third) 0px;
}

.projectsTopDiv p:hover {
  opacity: 1;
}

.projectsTopDiv .active {
  transition: none;
  border-bottom: 2px solid var(--secondary-color);
  opacity: 1;
}

.swiperDiv {
  margin-top: var(--mp-main);
  width: 100%;
  height: 100%;
  height: 450px;
}

.swiperCard {
  margin-top: var(--mp-secondary);
}

.swiper-pagination-progressbar-fill,
.swiper-pagination-progressbar {
  border-radius: var(--mp-main);
  overflow: hidden;
}

.swiperCardMain {
  height: 95%;
  width: 100%;
  border-radius: var(--mp-secondary);
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.projectMainImg {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.swiperCardMainContent {
  text-align: center;
  padding: var(--mp-main);
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.386);
  border-radius: var(--mp-secondary);
}

.swiperCardMain:hover > .swiperCardMainContent {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.swiperCardMainContent h2,
.swiperCardMainContent a {
  margin-top: var(--mp-secondary);
}

.swiperCardMainContent h2 {
  color: black !important;
}

/* ------------------- Contact ---------------- */

.contact {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
}

.contactMain {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mp-main);
}

.contactMainSub1,
.contactMainSub2 {
  width: 50%;
}

.contactMainSub1Main {
  width: 100%;
  max-width: 500px;
}

.contactMainSub1Main button {
  margin-top: var(--mp-secondary);
}

.contactIconsMainDiv {
  margin-top: var(--mp-main);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--mp-secondary);
}

.contactIconsMainDiv a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contactIconsMainDiv img {
  width: 35px;
}

.contactIconsMainDiv p {
  padding: 2px;
  border-radius: var(--mp-third);
  margin-left: var(--mp-secondary);
  color: black;
}

.contactMainSub2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contactMainSub2 input,
.contactMainSub2 textarea,
.contactMainSub2 button {
  margin-top: var(--mp-secondary);
}

.contactMainSub2 button {
  align-self: flex-start;
}

.contactMessageDiv {
  text-align: center;
  font-weight: 500;
  color: #ffff;
  width: 100%;
  padding: var(--mp-third);
  border-radius: var(--mp-third);
}

/* ------------------- Media Query ---------------- */

@media (max-width: 1536px) {
  html {
    font-size: 14px;
  }

  .mainDivChild {
    padding: 0px 100px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 13px;
  }

  .mainDivChild {
    padding: 0px 60px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .mainDivChild {
    padding: 0px 30px;
  }

  .home {
    flex-direction: column-reverse;
  }

  .homeSubDiv1,
  .homeSubDiv2 {
    width: 100%;
  }

  .buttonImg {
    width: 18px;
    margin-left: var(--mp-third);
  }

  .services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--mp-main) 0px;
  }
  .servicesSub1,
  .servicesSub2 {
    width: 100%;
  }

  .servicesSub1 {
    align-items: flex-end;
  }

  .servicesSub1 img {
    width: 100%;
  }

  .experience {
    flex-direction: column-reverse;
    gap: 60px;
  }
  .experienceSub2,
  .experienceSub1 {
    width: 100%;
  }

  .experienceSub2 {
    align-items: flex-start;
  }

  .experienceCardTopLeft {
    flex: 1;
  }

  .experienceCardTopRight {
    flex: 4;
  }

  .skills {
    padding: 30px 0px;
  }
  .skillsCard {
    width: 100px;
    height: 130px;
  }

  .project {
    flex-direction: column;
    padding: 30px 0px;
  }

  .projectSub1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .projectSub1,
  .projectSub2 {
    width: 100%;
  }

  .contact {
    padding: 30px 0px;
  }

  .contactMain {
    flex-direction: column;
  }

  .contactMainSub1,
  .contactMainSub2 {
    width: 100%;
  }
  .contactIconsMainDiv img {
    width: 30px;
  }

  .modalBg {
    padding: var(--mp-secondary);
  }

  .modal {
    padding: var(--mp-main);
  }

  .experienceModal {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 3rem;
  }

  .button {
    padding: var(--mp-third) var(--mp-secondary);
    border-radius: var(--mp-third);
  }

  .mainDivChild {
    padding: 0px 15px;
  }
}
